<section id="qualifications">
    <div class="qualifications-container">
        <div class="container">
            <h3>Qualifications</h3>

            <p>
                <ul>
                    <li>Certificate of qualification in Social work — Goldsmiths University
            </p>
            <li>Certificate in Community and Youth Work - Goldsmiths University</p>
            <li>Diploma in Adult Counselling - University of London ( Birkbeck University)</p>
            <li>Certificate in Psychoanalytic Psychotherapy— Tavistock and Portman NHS Trust</p>
            <li>Diploma in Psychoanalytic Psychotherapy- Tavistock and Portman NHS Trust</p>
            <li>Master of Arts in Psychoanalytic Studies - Tavistock and Portman NHS Foundation Trust and University of
                East London</p>
            <li>Supervision for Counsellors and Psychotherapist - Tavistock and Portman NHS Trust</p>
            <li>Certificate in Civil/Commercial Mediation - Align Mediation Ltd.</p>
                </ul>
                </p>
        </div>
    </div>
</section>