<section id="testimonials">
    <h3>Testimonials</h3>
    <div class="testimonials-container">
        <div class="item item-1">
            <img src="/images/leiths-cookery-school.gif" alt="Leiths Cookery School" />
        </div>
        <div class="item item-2">
            
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>Pauline has helped us with complex and sensitive staff situations. She has a really practical
                    down-to-earth approach which has resulted in measurable improvements that have meant better
                    relationships between staff and less management time spent trying to solve problems.</p>
                <p>Pauline has provided mediation and also bespoke communication interventions where she has taken time
                    to understand the individuals’ issues and to make a plan to help them refocus on the work they are
                    doing and less on the personal matters which frustrate them.</p>
                <p>Pauline is easy to talk to and understanding. She gets to the heart of a problem and cuts through the
                    waffle!</p>
                <p class="citation">Leiths Cookery School of Food & Wine</p>
            </div>
        </div><!-- end of first testimonial -->
        <div class="item item-1">
            <img src="/images/drawkit-web-dev-colour-thumbnail.png" alt="Anonymous" />
           
        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>I was in a dark place tried Counselling before but I felt I didn’t fit in and it was over for me
                    after a couple of sessions.
                </p>
                <p>Then I meet Pauline after Counselling sessions with her, this lady changed my life and I could see a
                    light at the end of the tunnel. I suffered a lot of trauma and pain, my heart was aching through the
                    anxiety and stress of everything I had experienced. She gave me tools to cope and words that I will
                    never forget.</p>

                <p>I’m so thankful for this amazing lady that I’m still here today to write this.</p>
                <p class="citation">Mary, East London</p>
            </div>
        </div><!-- end of second testimonial -->

        <div class="item item-1">
            <img src="/images/carers-centre-tower-hamlets-logo.jpg" alt="Carers Centre Tower Hamlets" />
        </div>
        <div class="item item-2">
            <div class="testimonial-text">
                <i class="fas fa-quote-right fa-3x quotes"></i>
                <p>Pauline joined us at a key time as Interim Director, supporting the Board and staff team to transition
                    through significant change. Pauline joined us at a key time as Interim Director, supporting the
                Board and staff team to transition through significant change.
                <p>Using her extensive knowledge and networks, Pauline kept our mission and the lives of our
                    beneficiaries central to the development of the charity, providing strategic direction by working
                    closely with the Board of Trustees and other stakeholders.
                </p>
                <p>Pauline, has an excellent coaching style, and was able to support the team to develop their roles,
                    while improving the quality and scope of our activities.</p>
                <p class="citation">Chair, Carers Centre Tower Hamlets, Sharron Currie</p>

            </div>
        </div><!-- end of third testimonial -->
    </div>

</section>